{% load cart_template_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark black scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="/">
            <strong class="blue-text">ECOM</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-effect" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="/">About
                        MDB</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="/checkout/">Checkout</a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'order-summary' %}" class="nav-link waves-effect">
                            <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
                            <i class="fas fa-shopping-cart"></i>
                            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default"
                             aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item btn-success" href=""><i class="fas fa-user-check"></i>
                                <u><b>{{ user.username }}</b></u></a>
                            <a class="dropdown-item" href="/accounts/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            <a class="dropdown-item" href="accounts/changepass"><i class="fas fa-key"></i> Change
                                Password</a>
                            <a class="dropdown-item" href="/request-refund/"><i class="fas fa-exchange-alt"></i> Refund
                                request</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class=" btn-blue rounded-pill nav-link waves-effect"
                           href="/accounts/login/">login</a>
                    </li>
                {% endif %}
            </ul>

        </div>

    </div>
</nav>


<div class="mt-5 pt-3">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

    {% endif %}
</div>
</body>
</html>