{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    login
{% endblock %}
{% block css %}
    color: #757575;
{% endblock %}
{% block body %}
    <br>
    <br>
    <div class="container py-5 d-flex justify-content-center">
        <div class="col-6">
            <!-- Material form login -->
            <div class="card">

                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Sign in</strong>
                </h5>

                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->
                    <form class="text-center" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-flex justify-content-around float-right">
                            <div>
                                <!-- Forgot password -->
                                <a href="">Forgot password?</a>
                            </div>
                        </div>
                        <br>

                        <!-- Sign in button -->
                        <button class="btn btn-outline-info rounded-pill btn-block my-4 waves-effect z-depth-0"
                                type="submit">Sign in
                        </button>
                        <!-- Register -->
                        <p>Not a member?
                            <a href="/signup/">Register</a>
                        </p>

                        <!-- Social login -->
                        <p>or sign in with:</p>
                        <a type="button" class="btn-floating btn-fb btn-sm">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a type="button" class="btn-floating btn-tw btn-sm">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a type="button" class="btn-floating btn-li btn-sm">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a type="button" class="btn-floating btn-git btn-sm">
                            <i class="fab fa-github"></i>
                        </a>

                    </form>
                    <!-- Form -->

                </div>

            </div>
            <!-- Material form login -->
        </div>
    </div>
{% endblock %}